################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Siperal/.vs/Siperal.slnx/FileContentIndex/390b5c8d-1cc5-4826-825c-7263dd13f834.vsidx
/Siperal/.vs/Siperal.slnx/FileContentIndex/7bee0929-9859-4615-a083-81f1da3d6cab.vsidx
