################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Siperal/.vs/Siperal.slnx/FileContentIndex/390b5c8d-1cc5-4826-825c-7263dd13f834.vsidx
/Siperal/.vs/Siperal.slnx/FileContentIndex/7bee0929-9859-4615-a083-81f1da3d6cab.vsidx
/Siperal/.vs/Siperal.slnx/FileContentIndex/45fb0aeb-2a54-4d92-acdc-be98cb6224f0.vsidx
/Siperal/.vs/Siperal.slnx/FileContentIndex/e60ba848-7a04-4530-af27-09ab29a55a68.vsidx
/Siperal/.vs/Siperal.slnx/FileContentIndex/363aa9e7-cc83-45df-b711-ad11d7f0b5a3.vsidx
/Siperal/.vs/Siperal.slnx/FileContentIndex/53598570-8ed9-44af-b67a-931ab2e372df.vsidx
/Siperal/.vs/Siperal.slnx/FileContentIndex/e31a7a4d-1c47-4e26-91df-76b2a9d6c394.vsidx
/Siperal/.vs/Siperal.slnx/FileContentIndex/fabc6082-ccf0-4342-ae77-799f3410da73.vsidx
/Siperal/.vs/Siperal.slnx/FileContentIndex/2986036a-108f-441e-9549-268a8ea25d01.vsidx
/Siperal/.vs/Siperal.slnx/FileContentIndex/7e2979cb-6129-453e-980f-9068d959d121.vsidx
/Siperal/.vs/Siperal.slnx/FileContentIndex/09d52cf9-43d7-45ee-891f-5a5f60d92fbb.vsidx
/Siperal/.vs/Siperal.slnx/FileContentIndex/27e4945b-80f3-41c2-8b50-860fbaafd5c0.vsidx
/Siperal/.vs/Siperal.slnx/FileContentIndex/1d85b19e-c861-4695-8b69-b7000841d09c.vsidx
/Siperal/.vs/Siperal.slnx/FileContentIndex/1dfb8a6b-dcc3-4d31-b4b1-81d2de35be2b.vsidx
